.experiencia {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo{
    color: #e1e1e1;
}

.experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 50ch;
    margin-bottom: 60px;
    margin-top: 30px;
    color: #525252;
}

.experiencia-texto strong{
    color: #141414;
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #e1e1e1;
    margin-bottom: 20px;
    border-radius: 4px;
}

.empresa::before {
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: relative;
    top: 20px;
    left: -24px;
}

.empresa-titulo{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
    margin-top: -50px;
    left: 740px;
    

   

}

.empresa-texto {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
    position: absolute;
}

.empresa h3{
    
    position: absolute;
}


/*RESPONSIVO*/

@media (max-width: 800px ){
    .empresa-titulo{
        display: none;
        
    }
    .empresa-texto {
        width: 100%;
        left: 10%;
        margin-top: -5%;
        max-width: 29ch;
        
    }
    .empresa {
        width: 100%;
    }
    .experiencia-texto {
        padding: auto;
        grid-template-columns: 4fr 8fr;
        gap: 70px;
        width: 100%;
        margin-left: 100%;
        margin-right: 100%;
        margin-bottom: none;
    }
    .subtitulo{
        display: none;
    }

    .empresa {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20% 80% ;
        background: #e1e1e1;
        margin-bottom: 20px;
        border-radius: 4px;
    }
    .empresa::before {
        display: none;
    }
}


@media (max-width: 1000px ){
    .empresa-titulo{
        display: none;
        
    }
    .empresa-texto {
        width: 100%;
        left: 10%;
        margin-top: -5%;
        max-width: 29ch;
        
    }
    .empresa {
        width: 100%;
    }
    .experiencia-texto {
        padding: auto;
        grid-template-columns: 4fr 8fr;
        gap: 70px;
        width: 100%;
        margin-left: 100%;
        margin-right: 100%;
        margin-bottom: none;
    }
    .subtitulo{
        display: none;
    }

    .empresa {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20% 80% ;
        background: #e1e1e1;
        margin-bottom: 20px;
        border-radius: 4px;
    }
    .empresa::before {
        display: none;
    }
}

