.experiencia {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo{
    color: #e1e1e1;
}

.experiencia-texto {
    font-size: 1.5rem;
    line-height: 1.33;
    max-width: 50ch;
    margin-bottom: 60px;
    margin-top: 30px;
    color: #525252;
}

.experiencia-texto strong{
    color: #141414;
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background: #e1e1e1;
    margin-bottom: 20px;
    border-radius: 4px;
}

.empresa::before {
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#b6f829, #67dd0a);
    position: relative;
    top: 20px;
    left: -24px;
}

.empresa-titulo{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
    margin-top: -50px;
    left: 740px;
    

   

}

.empresa-texto {
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
    position: absolute;
}

.empresa h3{
    
    position: absolute;
}
